data

windows/x64
windows/*.opensdf
windows/*.sdf
windows/*.suo

windows/dump_binary/x64

windows/infer/x64
windows/infer/*.log
windows/infer/*.user
windows/infer/*.0
windows/infer/*.txt
windows/infer/*.model
windows/infer/*.dll

windows/lightlda/x64
windows/lightlda/*.log
windows/lightlda/*.user
windows/lightlda/*.0
windows/lightlda/*.txt
windows/lightlda/*model
windows/lightlda/*.dll